MVC_VENDAS.VIEW/Service References/CFuncionarioWCF/CFuncionario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CFuncionario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62720/CFuncionario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62720/CFuncionario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62720/CFuncionario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICFuncionario_ListaFuncionarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaFuncionarios" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_ListaFuncionarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_AlterarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarFuncionario" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_AlterarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_SelecionarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarFuncionario" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_SelecionarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_ExcluirFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirFuncionario" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_ExcluirFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_IncluirFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirFuncionario" />
  </wsdl:message>
  <wsdl:message name="ICFuncionario_IncluirFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirFuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ICFuncionario">
    <wsdl:operation name="ListaFuncionarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFuncionario/ListaFuncionarios" message="tns:ICFuncionario_ListaFuncionarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFuncionario/ListaFuncionariosResponse" message="tns:ICFuncionario_ListaFuncionarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFuncionario/AlterarFuncionario" message="tns:ICFuncionario_AlterarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFuncionario/AlterarFuncionarioResponse" message="tns:ICFuncionario_AlterarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFuncionario/SelecionarFuncionario" message="tns:ICFuncionario_SelecionarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFuncionario/SelecionarFuncionarioResponse" message="tns:ICFuncionario_SelecionarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFuncionario/ExcluirFuncionario" message="tns:ICFuncionario_ExcluirFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFuncionario/ExcluirFuncionarioResponse" message="tns:ICFuncionario_ExcluirFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/ICFuncionario/IncluirFuncionario" message="tns:ICFuncionario_IncluirFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICFuncionario/IncluirFuncionarioResponse" message="tns:ICFuncionario_IncluirFuncionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICFuncionario" type="tns:ICFuncionario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaFuncionarios">
      <soap:operation soapAction="http://tempuri.org/ICFuncionario/ListaFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarFuncionario">
      <soap:operation soapAction="http://tempuri.org/ICFuncionario/AlterarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarFuncionario">
      <soap:operation soapAction="http://tempuri.org/ICFuncionario/SelecionarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirFuncionario">
      <soap:operation soapAction="http://tempuri.org/ICFuncionario/ExcluirFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirFuncionario">
      <soap:operation soapAction="http://tempuri.org/ICFuncionario/IncluirFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CFuncionario">
    <wsdl:port name="BasicHttpBinding_ICFuncionario" binding="tns:BasicHttpBinding_ICFuncionario">
      <soap:address location="http://localhost:62720/CFuncionario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>