MVC_VENDAS.VIEW/Service References/CFuncionarioWCF/CFuncionario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62720/CFuncionario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" />
  <xs:element name="ListaFuncionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="ListaFuncionariosResult" nillable="true" type="q1:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="oFuncionario" nillable="true" type="q2:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="SelecionarFuncionarioResult" nillable="true" type="q3:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="oFuncionario" nillable="true" type="q4:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirFuncionarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>