MVC_VENDAS.VIEW/Service References/CClienteWCF/CCliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62720/CCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" />
  <xs:element name="ListaClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="ListaClientesResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="oCliente" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="SelecionarClienteResult" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="oCliente" nillable="true" type="q4:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>