MVC_VENDAS.VIEW/Service References/CVendasWCF/CVendas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62720/CVendas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" />
  <xs:element name="ListaVendas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaVendasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="ListaVendasResult" nillable="true" type="q1:ArrayOfVenda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionarVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="SelecionarVendaResult" nillable="true" type="q2:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirVenda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" minOccurs="0" name="oVenda" nillable="true" type="q3:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirVendaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncluirVendaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>