MVC_VENDAS.VIEW/Service References/CVendasWCF/CVendas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CVendas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62720/CVendas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62720/CVendas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62720/CVendas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICVendas_ListaVendas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaVendas" />
  </wsdl:message>
  <wsdl:message name="ICVendas_ListaVendas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaVendasResponse" />
  </wsdl:message>
  <wsdl:message name="ICVendas_SelecionarVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarVenda" />
  </wsdl:message>
  <wsdl:message name="ICVendas_SelecionarVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarVendaResponse" />
  </wsdl:message>
  <wsdl:message name="ICVendas_IncluirVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirVenda" />
  </wsdl:message>
  <wsdl:message name="ICVendas_IncluirVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirVendaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICVendas">
    <wsdl:operation name="ListaVendas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICVendas/ListaVendas" message="tns:ICVendas_ListaVendas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICVendas/ListaVendasResponse" message="tns:ICVendas_ListaVendas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/ICVendas/SelecionarVenda" message="tns:ICVendas_SelecionarVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICVendas/SelecionarVendaResponse" message="tns:ICVendas_SelecionarVenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/ICVendas/IncluirVenda" message="tns:ICVendas_IncluirVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICVendas/IncluirVendaResponse" message="tns:ICVendas_IncluirVenda_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICVendas" type="tns:ICVendas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaVendas">
      <soap:operation soapAction="http://tempuri.org/ICVendas/ListaVendas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarVenda">
      <soap:operation soapAction="http://tempuri.org/ICVendas/SelecionarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirVenda">
      <soap:operation soapAction="http://tempuri.org/ICVendas/IncluirVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CVendas">
    <wsdl:port name="BasicHttpBinding_ICVendas" binding="tns:BasicHttpBinding_ICVendas">
      <soap:address location="http://localhost:62720/CVendas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>