MVC_VENDAS.VIEW/Service References/CVendasWCF/CVendas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVenda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Venda" nillable="true" type="tns:Venda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVenda" nillable="true" type="tns:ArrayOfVenda" />
  <xs:complexType name="Venda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Itens" nillable="true" type="tns:ArrayOfItemVenda" />
      <xs:element minOccurs="0" name="oCliente" nillable="true" type="tns:Cliente" />
      <xs:element minOccurs="0" name="oFuncionario" nillable="true" type="tns:Funcionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Venda" nillable="true" type="tns:Venda" />
  <xs:complexType name="ArrayOfItemVenda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemVenda" nillable="true" type="tns:ItemVenda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemVenda" nillable="true" type="tns:ArrayOfItemVenda" />
  <xs:complexType name="ItemVenda">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="oProduto" nillable="true" type="tns:Produto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemVenda" nillable="true" type="tns:ItemVenda" />
  <xs:complexType name="Produto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercLucro" type="xs:decimal" />
      <xs:element minOccurs="0" name="PrecoCompra" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtdEstoque" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Produto" nillable="true" type="tns:Produto" />
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bairro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salario" type="xs:decimal" />
      <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
</xs:schema>