MVC_VENDAS.VIEW/Service References/CProdutoWCF/CProduto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CProduto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62720/CProduto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62720/CProduto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62720/CProduto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVC_VENDAS.MODEL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICProduto_ListaProdutos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaProdutos" />
  </wsdl:message>
  <wsdl:message name="ICProduto_ListaProdutos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaProdutosResponse" />
  </wsdl:message>
  <wsdl:message name="ICProduto_IncluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProduto" />
  </wsdl:message>
  <wsdl:message name="ICProduto_IncluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="ICProduto_AlterarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProduto" />
  </wsdl:message>
  <wsdl:message name="ICProduto_AlterarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="ICProduto_SelecionarProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarProduto" />
  </wsdl:message>
  <wsdl:message name="ICProduto_SelecionarProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionarProdutoResponse" />
  </wsdl:message>
  <wsdl:message name="ICProduto_ExcluirProduto_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirProduto" />
  </wsdl:message>
  <wsdl:message name="ICProduto_ExcluirProduto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirProdutoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICProduto">
    <wsdl:operation name="ListaProdutos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICProduto/ListaProdutos" message="tns:ICProduto_ListaProdutos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICProduto/ListaProdutosResponse" message="tns:ICProduto_ListaProdutos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICProduto/IncluirProduto" message="tns:ICProduto_IncluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICProduto/IncluirProdutoResponse" message="tns:ICProduto_IncluirProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICProduto/AlterarProduto" message="tns:ICProduto_AlterarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICProduto/AlterarProdutoResponse" message="tns:ICProduto_AlterarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionarProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICProduto/SelecionarProduto" message="tns:ICProduto_SelecionarProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICProduto/SelecionarProdutoResponse" message="tns:ICProduto_SelecionarProduto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcluirProduto">
      <wsdl:input wsaw:Action="http://tempuri.org/ICProduto/ExcluirProduto" message="tns:ICProduto_ExcluirProduto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICProduto/ExcluirProdutoResponse" message="tns:ICProduto_ExcluirProduto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICProduto" type="tns:ICProduto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaProdutos">
      <soap:operation soapAction="http://tempuri.org/ICProduto/ListaProdutos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirProduto">
      <soap:operation soapAction="http://tempuri.org/ICProduto/IncluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarProduto">
      <soap:operation soapAction="http://tempuri.org/ICProduto/AlterarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionarProduto">
      <soap:operation soapAction="http://tempuri.org/ICProduto/SelecionarProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcluirProduto">
      <soap:operation soapAction="http://tempuri.org/ICProduto/ExcluirProduto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CProduto">
    <wsdl:port name="BasicHttpBinding_ICProduto" binding="tns:BasicHttpBinding_ICProduto">
      <soap:address location="http://localhost:62720/CProduto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>